body {
    background-color: #151515;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0px 30px 0px;
}

#table {
    margin-left: auto; 
    margin-right: auto; 
    border-spacing: 5px 5px;
    height: auto;
}

#table td {
    width: 60px;
    height: 60px;
    border: solid #333 2px;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 0;
}


#keyboard {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#keyboard .keyboardRows {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin: 4px 0px;
}
#keyboard button {
    width: 70px;
    height: 100%;
    margin: 0px 2px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color: white;
}
#keyboard button:hover {
    background-color: #333;
}
#keyboard #deleteBtn, #keyboard #enterBtn {
    padding: 0px 10px;
    width: 105px;
    font-size: 20px;
}



@media (max-width: 800px) {
    #table td{
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
    #keyboard {
        width: 100%;
    }
    #keyboard .keyboardRows {
        margin-left: 5%;
        width: 90%;
    }
    #keyboard button {
        font-size: 25px;
    }
    #keyboard #deleteBtn, #keyboard #enterBtn {
        font-size: 15px;
    }
}
@media (max-width: 600px) {
    
    #keyboard button {
        font-size: 15px;
    }
    #keyboard #deleteBtn, #keyboard #enterBtn {
        font-size: 8px;
    }
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    