html {
    height: 100%;
}

body {
    background-color: #131313;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    height: 100%;
}

h1 {
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 5px 0px;
    margin: 0px 0px 20px 0px;
    border-bottom: solid 1px #333;
}
#langSwitch {
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
    padding: 5px;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow:
}

#table {
    margin-left: auto; 
    margin-right: auto; 
    border-spacing: 5px 5px;
    height: auto;
    width: auto;
}

#table td {
    width: 58px;
    height: 58px;
    border: solid #333 2px;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 0px;
}

#popup {
    opacity: 0;
    font-size: 20px;
    color: white;
    padding: 20px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    
}
.activate {
    animation: popupAnim 1s ease;
}


@keyframes popupAnim{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}


#keyboard {
    width: 100%;
}
#keyboard .keyboardRows {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin: 4px 0px;
}
#keyboard button {
    width: 44px;
    height: 100%;
    margin: 0px 2px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
#keyboard button:hover {
    background-color: #333;
}
#keyboard #deleteBtn, #keyboard #enterBtn {
    padding: 0px 10px;
    width: 66px;
    
}
#keyboard #enterBtn {
    font-size: 50px;
}
#keyboard #deleteBtn {
    font-size: 30px;
}
.sweBtns {
    display: none;
}


@media (max-height: 700px) {
        #table td {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
    
}

@media (max-height: 580px) {
    #table td {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}
@media (max-width: 430px) {
    #keyboard button {
        font-size: 15px;

    }
    #keyboard #enterBtn {
        font-size: 30px;
    }
    #keyboard #deleteBtn {
        font-size: 15px;
    }
}
@media (max-width: 360px) {
    #table td {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
    #popup {
        font-size: 15px;
    }
    
}
@media (max-width: 270px) {
    #keyboard button {
        font-size: 8px;
    }
    #keyboard #enterBtn {
        font-size: 25px;
    }
    #keyboard #deleteBtn {
        font-size: 8px;
    }
      #table td {
        width: 30px;
        height: 30px;
        font-size: 25px;
    }
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    